# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# Logs and databases
*.log
*.db

# Environment variables
.env

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Dependency directories
bin/
lib/
lib64/
__pycache__/utils.cpython-39.pyc
__pycache__/class_model.cpython-39.pyc
*.pyc
